body{
	margin: 0;
	padding: 0;
	background: url(main2.png);
	background-size: cover;
	font-family: sans-serif;
}

.form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 450px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}

.user-img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	color: #4d79ff;
	text-align: center;
}

.form-container p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #00e600;
}

.form-container input{
	width: 100%;
	margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder{
	color: rgba(255,255,255,.5);
}

.form-container button{
	/*border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #3eacd8;
	cursor: pointer;
	border-radius: 20px;*/
	color: #fff;
    background: #009f8b;
    padding: 10px 50px;
    border: none;
    font-size: 12px;
    font-family: cursive;
    border-radius: 20px;
    margin-bottom: 5px;

}
.form-container button:hover{
	background: #efed40;
	color: #262626;
}

.form-container a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}


















