*{
	margin: 0;
	padding: 0;
}

body{
	background: url("main2.png");
	height: 100vh;
	-webkit-background-size:cover;
	background-position: center center;
	width: 100%;
	display: table;
	font-family: Montserrat;
}

/*.wrapper{
	width: 1170px;
	margin: auto;
	position: absolute;
    top: 0%;
    left: 50%;
}*/

.nav {
    position: fixed;
    width: 100%;
    height: 115px;
    top: 0;
    float: right;
    list-style: none;
    margin-top: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.8);

	}

	#nav_menu{
		cursor: pointer;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;}

	#report{
	position: absolute;
    top: 38%;
    left: 50%;
    color: #0892D0;
    font-size: 27px;
    font-weight: lighter;
    text-align: center;
    transform: translate(-50%, -50%);
	}

	#container{
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		margin-top: 60px;
		background: #444;
		min-height: 700px;
		background: rgba(0,0,0,.5);
    }

	#sidebar {
   background: transparent;
    padding: 17px 18px;
    border-right: 1px solid black;
    box-shadow: 0 0 20px #1179df;
    width: 181px;
    position: absolute;
    top: 143px;
    height: 26vh;
    display:none;

    }

	#sidebar li{
	list-style-type: none;
    text-align: center;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 10px;
    margin-top: 7px;
    color: white;
    padding-bottom: 3px;
	}

	#sidebar li:hover{
		background: linear-gradient(#222,#444);
		background: #00F0F8FF;
	    color: #333;
	}

	#sidebar li a{
		color: white;
		text-decoration: none;
		font-size: 22px;
		font-weight: lighter;
		font-family: Montserrat;
	}
.welcome-text{
	position: absolute;
	top: 75%;
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.welcome-text h1{
	color: 	#000000;
	font-size: 36px;
	font-weight: lighter;
}

.welcome-text button {
   color: #fff;
    background: #009f8b;
    padding: 10px 37px;
    border: none;
    font-size: 20px;
    margin-top: 40px;
}

@media only screen and (min-width: 768px){
	#sidebar {

    width: 400px;
    height: 22vh;
    top: 137px;
}
.welcome-text h1 {
	font-size: 61px;
}
#sidebar li {
   
    margin-top: 12px;
}
#sidebar li a{
	font-size: 22px;
}
.nav{
	    margin-top: 13px;
}

.welcome-text {
    top: 55%;
    }
}

@media only screen and (min-width: 1440px){
	.welcome-text {
    top: 65%;
}
.welcome-text h1 {
	font-size: 75px;
}
	#sidebar{
		height: 30vh;
	}
#sidebar li {
   
    margin-top: 20px;
}
#sidebar li a{
	font-size: 25px;
}
}