*{
    margin: 0;
    padding: 0;
}

header{
    background: url("images/main2.png");
    height: 100vh;
    -webkit-background-size:cover;
    background-position: center center;
    width: 100%;
    display: table;
    font-family: Montserrat;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.nav {
    float: right;
    list-style: none;
    margin-top: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
}

.logo {
    letter-spacing: 1px;
    float: left;
    color: #3498DB;
    font-size: 24px;
    line-height: 29px;
    padding: 0 1em;
    font-family: cursive;
}

.menu {
    float: right;
    line-height: 50px;
    margin: 0 1em;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline-block;
    padding: 0px 0.2em;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 20px;
}

.menu li a:hover{
    background: #00F0F8FF;
    color: #333;
}

ul li:nth-child(1) a {
    color: #61B3E7;
    border: 1px solid #61B3E7;
    padding: 8px 20px;
    border-radius: 4px;
}
ul li:nth-child(2) a {
   color: #009f8b;
    border: 1px solid #009f8b;
    padding: 8px 20px;
    border-radius: 4px;
}

.welcome-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.welcome-text h1 {
    color: #0892D0;
    font-size: 25px;
    font-weight: lighter;
}
.welcome-text p {
    color: #040404;
    font-size: 18px;
    font-weight: normal;
}
.welcome-text button {
    color: #fff;
    background: #009f8b;
    padding: 18px 38px;
    border: none;
    font-size: 12px;
    margin-top: 26px;
}

@media only screen and (min-width: 768px){
	.nav{
		margin-top: 58px;
	}

	.logo{
		font-size: 46px;
        margin-bottom: 23px;
        line-height: 42px;
	}

	.menu {
        margin: 0 4em;
    }

    .menu ul li {
         padding: 0px 0.5em;
    }

     .menu ul li a{
        font-size: 20px;
       }
    
    .welcome-text h1 {
    font-size: 39px;
}
 
.welcome-text p {
    font-size: 30px;
}

.welcome-text button {
    padding: 20px 45px;
    font-size: 24px;
}

}

@media only screen and (min-width: 1440px){
	.wrapper{
    width: 1170px;
}

.nav{

    margin-top: 30px;
}

.logo{
    
    font-size: 50px;
    line-height: 80px;
    padding: 0 6em;
}

.menu{
    line-height: 50px;
    margin: 0 6em;
}
.menu ul li a{

    font-size: 20px;
  
}

ul li:nth-child(2) a{
    padding: 10px 20px;
}
ul li:nth-child(1) a{
    padding: 10px 20px;
}

.welcome-text h1{
    font-size: 46px;
}
.welcome-text p{
    font-size: 24px;
}
.welcome-text button{
    padding: 18px 38px;
    font-size: 14px;
}

}































